* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(196, 214, 214);
  font-family: "Open Sans", sans-serif;
}
.container {
  width: 70%;
  max-width: 700px;
  margin: 0 auto;
}
.title h2 {
  text-align: center;
  font-size: 40px;
  font-family: "Roboto", sans-serif;
  color: hsl(209, 61%, 16%);
}
.underline {
  width: 50px;
  height: 5px;
  background-color: aqua;
  margin: 10px auto;
}
.review {
  background: #fff;
  box-shadow: 0 2px 5px 5px rgba(0, 0, 0, 0.1);
  margin: 50px auto 10px;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  transition: all 0.5s;
}
.review:hover {
  box-shadow: 0 2px 5px 5px rgba(0, 0, 0, 0.2);
}
.img-container {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  /* overflow: hidden; */
  margin: 0 auto 20px;
  background: rgb(33, 250, 250);
}
.cover {
  object-fit: fill !important;
}
#person-img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transform: translateX(-10px) translateY(8px);
  object-fit: cover;
}
#author {
  font-size: 20px;
  letter-spacing: 2px;
  color: hsl(209, 61%, 16%);
}
#job {
  text-transform: uppercase;
  margin: 10px 0 20px;
  font-size: 15px;
  color: rgb(33, 250, 250);
}
#info {
  font-size: 17px;
  color: hsl(210, 22%, 49%);
}
.prev-btn,
.next-btn {
  border: none;
  color: rgb(33, 250, 250);
  background-color: transparent;
  font-size: 35px;
  transition: all 0.5s;
}
.next-btn {
  margin-left: 20px;
}
.suprise {
  /* border: 1px solid rgb(33, 250, 250); */
  border-color: hsl(205, 78%, 60%);
  border-radius: 10px;
  padding: 10px 30px;
  color: rgb(33, 250, 250);
  display: block;
  margin: 10px auto;
  transition: all 0.5s;
  background-color: transparent;
}
.active {
  color: rgb(22, 115, 236) !important;
}
.random {
  background-color: rgb(22, 115, 236);
  color: white;
}

@media screen and (max-width: 600px) {
  .container {
    margin: 20% auto 0;
  }
  .title h2 {
    font-size: 30px;
  }
  .review {
    margin-bottom: 0;
  }
  #info {
    font-size: 14px;
  }
  #author {
    font-size: 15px;
    letter-spacing: 0.5px;
  }
  #job {
    margin: 2px 0 4px;
  }
}

/* MODAL POPUP CSS STYLES */
html {
  font-size: 62.5%;
}

.Nav {
  background-color: blueviolet;
}

.Nav-navigation {
  display: flex;
  justify-content: space-between;
}
.Nav-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.Nav-list {
  display: flex;
  list-style: none;
}
.Nav-item {
  margin: 40px;
}
.Nav-link,
.Nav-link:link,
.Nav-link:visited {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 2rem;
}

.Modal-popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}
.popup-show {
  opacity: 1;
  visibility: visible;
}
.Modal {
  background: white;
  margin: 15% auto 0;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px 5px rgba(0, 0, 0, 0.4);
  width: 80%;
  transform: scale(0);
  transition: all 0.2s;
  position: relative;
  z-index: 10000;
}

.Modal:hover {
  box-shadow: 0.2rem 0.2rem 1rem 0.5rem rgba(228, 226, 226, 0.5);
}

.show-modal {
  transform: scale(1);
}
.close-btn {
  opacity: 0;
}
.Modal-title {
  font-size: 5rem;
  text-align: center;
  color: yellowgreen;
  text-transform: uppercase;
}
.Modal-paragraph {
  font-size: 2rem;
  text-align: center;
  color: rgb(210, 211, 161);
}
.times {
  position: absolute;
  top: 1rem;
  right: 2rem;
  font-size: 3rem;
  color: black;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.2s;
}
.centre {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.Modal-btn {
  font-size: 3rem;
  text-transform: uppercase;
  border: none;
  border-radius: 100px;
  background-color: green;
  color: white;
  transition: all 0.2s;
  box-shadow: 2px 2px 10px 5px rgba(0, 0, 0, 0.4);
  padding: 2rem 4rem;
  display: inline;
  text-align: center;
  position: relative;
  animation: btn-anime 0.8s cubic-bezier(1, 0.32, 0.23, 1.39);
}
.Modal-btn::after {
  content: "";
  background-color: green;
  border-radius: 100px;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.2s;
}
.Modal-btn:hover {
  transform: scale(1.1) translateY(-4px);
}
.Modal-btn:hover::after {
  transform: scale(1.4) translateY(-4px);
  opacity: 0;
}
.Modal-btn:active {
  transform: scale(1.1) translateY(-1px);
  box-shadow: 2px 2px 10px 5px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 74.9em) {
  html {
    font-size: 50%;
  }
}
@media screen and (max-width: 56.25em) {
  html {
    font-size: 37.5%;
  }
}
@media screen and (max-width: 37.5em) {
  .times {
    font-size: 4rem;
  }
  .Modal-paragraph {
    font-size: 2.7rem;
  }
  .Nav {
    height: 0;
    transition: all 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  }
  .show-nav {
    height: 42rem;
  }
  .Nav-navigation {
    display: block;
  }
  .Nav-list {
    display: block;
    opacity: 0;
    visibility: hidden;
  }
  .show-nav-list {
    opacity: 1;
    visibility: visible;
  }
  .Navigation {
    display: block;
    cursor: pointer;
    position: fixed;
    top: 6rem;
    right: 4rem;
  }
  .Nav-button {
    display: block;
    position: relative;
    width: 4rem;
    height: 2px;
    background-color: black;
    margin: 0.5rem auto;
    transition: all 0.3s ease-in-out;
  }
  .Navigation.show .Nav-button:nth-child(2) {
    opacity: 0;
  }
  .Navigation.show .Nav-button:nth-child(1) {
    top: 5px;
    transform: rotate(135deg);
  }
  .Navigation.show .Nav-button:nth-child(3) {
    top: -5px;
    transform: rotate(-135deg);
  }
}

@keyframes btn-anime {
  0% {
    opacity: 0;
    transform: translateX(-200px);
  }
  90% {
    transform: translateX(50px);
  }
  100% {
    transform: translateX(0);
  }
}
